<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Pokedéx</title>
</head>

<body>

    <nav>
        <article>
            <img src="/public/img/pokebola-go.png" alt="">
            <h1><a href="/">Pokedéx</a></h1>
        </article>
        
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/view/cadastro.ejs">Cadastro</a></li>
        </ul>
    </nav>

    <header>
        <h1>Pokedéx</h1>
    </header>

    <section id="pokedex">
        <a class="card" href="/public/details/004.ejs">
            <img src="/public/img/charmande.png" alt="">
            <h2>Charmander</h2>
            <h4>Fogo</h4>
        </a>
        <a class="card" href="/public/details/002.ejs">
            <img src="/public/img/Ivysaur.png" alt="">
            <h2>Ivysaur</h2>
            <h4>Grama</h4>
        </a>
        <a class="card" href="/public/details/025.ejs">
            <img src="/public/img/pikachu.png" alt="">
            <h2>Pikachu</h2>
            <h4>Elétrico</h4>
        </a>
    </section>
        

    <script src="/js/script.js"></script>

</body>
</html>
