<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Pokedéx | Detalhe</title>
</head>

<body>

    <nav>
        <article>
            <img src="/img/pokebola-go.png" alt="">
            <h1><a href="/">Pokedéx</a></h1>
        </article>

        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/registration">Cadastro</a></li>
        </ul>
    </nav>

    <header>
        <h1>
            Charmander<span style="font-weight: 200"> N° 004 </span>
        </h1>
    </header>

    <section id="details">
        <img src="/public/img/charmande.png" alt="">
        <div id="infos">
            <p>
               Tem preferência por coisas quentes. Quando chove, diz-se que o vapor jorra da ponta da cauda.
            </p>
            <div id="info-datail">
                <div class='col'>
                    <h4>Altura:</h4>
                    <h3>
                        0,6 m
                    </h3>
                    <h4>Peso:</h4>
                    <h3>
                        8,5 kg
                    </h3>
                </div>
                <div class='col'>
                    <h4>Categoria:</h4>
                    <h3>
                        Lagarto
                    </h3>
                    <h4>Habilidade:</h4>
                    <h3>
                        Chama
                    </h3>
                </div>
            </div>
            <h3>Tipo:</h3>
            <h2>
                Fogo
            </h2>
        </div>

    </section>

    <script src="/js/script.js"></script>

</body>

</html>